.navbar {
  background-color: #1f2937;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-title {
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
cursor: pointer;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 25px;
}

.navbar-link {
  display: flex;
  align-items: center;
}

.navbar-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.navbar-icon {
  width: 48px;
  height: 48px;
  transition: transform 0.2s ease;
}

.navbar-icon:hover {
  transform: scale(1.1);
}

.navbar-link .navbar-icon {
  color: #00d474; 
}